extends layout
block content
    div.container.products__container
        div.wrapper
            div.product-img
                img(src="https://via.placeholder.com/420x327/e3e0e0/393c45/?text=" + product.product_title height="420" width="327" alt=product.product_title)
                div
            div.product-info
                div.product-text
                    h1=product.product_title
                    h2=product.product_category
                    p=product.product_description
                    div
                div.product-price-btn
                    p='$'
                        span.price=product.product_price
                    button(type="button")='buy now'
                    div
                div
        div
